<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">

  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

    <ion-item>
      <ion-label position="floating" color="primary">nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">apellidos</ion-label>
      <ion-input type="text" formControlName="apellidos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Gender</ion-label>
      <ion-select formControlName="sexo" cancelText="Cancel" okText="OK">
        <ion-select-option *ngFor="let sexo of sexos" [value]="sexo">{{sexo}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">edad</ion-label>
      <ion-input type="number" formControlName="edad"></ion-input>
    </ion-item>

    <div *ngIf="validations_form.get('edad').value">

      <ion-item *ngIf="getIntEdad()<18">
        <ion-item>
          <ion-label position="floating" color="primary">apellidos padre</ion-label>
          <ion-input type="text" formControlName="apellidosPadre"></ion-input>
        </ion-item>
      </ion-item>

      <ion-item *ngIf="getIntEdad()>=18">
        <ion-item>
          <ion-label position="floating" color="primary">dni</ion-label>
          <ion-input type="text" formControlName="dni"></ion-input>
        </ion-item>
      </ion-item>

    </div>

    <ion-button color="primary" class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">
      Submit data
    </ion-button>

  </form>

</ion-content>